*.a
*.o
.sconf_temp/
.sconsign.dblite
bbs/bbs
config.log
convers/convers
convers/conversd
doc/bbs.1.gif
doc/bbs.html
doc/bbs.mm
doc/bridge.html
doc/bridge.mm
doc/smack.html
doc/smack.mm
doc/wampes.html
doc/wampes.mm
lib/configure.h
lib/configure.mak
src/TAGS
src/net
src/tags
tools/check_seteugid
tools/connect
tools/connect2
tools/filter
tools/import
tools/makeiprt
tools/ms2mm
tools/udpbridge
util/bridge
util/cnet
util/md5
util/mkhostdb
util/path
util/qth
