*.a
*.o
.sconf_temp/
.sconsign.dblite
bbs/bbs
bbs/bbs.help
config.log
convers/convers
convers/conversd
doc/*.html
doc/*.png
lib/configure.h
src/TAGS
src/net
src/tags
tools/check_seteugid
tools/connect
tools/connect2
tools/filter
tools/import
tools/makeiprt
tools/udpbridge
util/bridge
util/cnet
util/md5
util/mkhostdb
util/path
util/qth
